@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Rubik+Vinyl&family=Rubik:ital,wght@0,300..900;1,300..900&family=Supermercado+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: chocolate;
    font-family:"Roboto" ;
    
}

header{
    box-shadow: inset 0px 0px 20px 0px black;
}

h1{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

h2{
    margin: 25px 15px;
}

h3{
    align-items: flex-start;
}

main{
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(226, 211, 145) );
    display: flex;
    justify-content: space-around;
}

img#mc , a{
    height: 110px;
    width: 100px;

}

img#mc:hover{
    background-color: red;
}

article,p{
    text-align: center;
}

div.tasty_items{
    display: flex;
    justify-content: space-between;
}

figure > img.tasty{
    max-width: 100%;
    border: 5px solid red;
    display: flex;
}

@media (max-width:650px){
    .tasty_items{
       flex-direction: column;
       align-items: center;
       
    }

    figure > img.tasty{
        width: 90%;
        margin-bottom: 50px;
    }
} 

figcaption{
  font-size: 20px;
  font-weight: bolder;
}


.tasty:hover{
    transform: scale(1.1);
}


div#copyright{
    display: flexbox;
}

footer{
    background-color: gray;
    height: 650px;
}

a{
    text-decoration: none;
    color: black;
}

p.preço{
    
   position: absolute;
}

div#app > p{
    left: 0;
    position: absolute;
}

div#app > a > img{
    max-width: 100%;
     width: 100px ;
}

/* */